<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Cart</title>
    <link rel="icon" href="images/logo.jpeg"/>
</head>
<body>
    <div class="max-w-full h-16 bg-[#315EE7]">
      
       
        <div class="h-16 flex items-center">
            
          <a href="/home"><img src=images/logo.jpeg class='w-14 h-14 cursor-pointer translate-x-[38px]'  alt="" /></a>
          </div>
          </a>
          
        </div>
    <span class="flex justify-center">
        <h1 class="text-[50px] font-semibold text-[#22215B] mt-10">Cart</h1>
    </span>
        <div class="flex justify-center flex-wrap content-start max-h-60">
<% for ( item of cartItems)  {%>
  
        <div  class="w-11/12 max-w-sm bg-white border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700 mt-4 ml-4">
    
        <img class="p-8 rounded-t-lg max-h-80"  src="<%=item.image%>" alt="<%=item.description%>" />

    <div class="px-5 pb-5">
        
            
        <div class="flex items-center justify-between">
            
            <span class="text-3xl font-bold text-gray-900 dark:text-white">Price: &#x20B9; <%=item.price%></span>
            <form action="/removeitem/<%=item.id%>" method="post">
                <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Remove Item</button>
            </form>         
         <br>
        </div>
        
    </div>
</div>

    

    <% } %>


<% if(TotalPrice ===0) {%>
    <div class=" flex justify-center">
        <h1 class="text-[50px] ml-40 font-semibold text-[#22215B] mt-10">Cart is Empty<h1/>
        <a href="show" class="mt-10 relative right-60 top-36 text-blue-600">Rent more products</a>    
    </div>     
<% } else
{%>
    <div class=" w-full flex justify-center text-[50px] font-semibold text-[#22215B]">
   TotalPrice:  <%= TotalPrice %>
</div>
<div class=" flex justify-center">
<a href="payment" 
class=" text-white text bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
Checkout
</a>
</div>
    <% } %>









    </div>
</body>
</html>